rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bookings/{bookingId} {
      allow read, write: if true;
    }
    match /rooms/{roomId} {
      allow read, write: if true;
    }
    match /schedule/{scheduleId} {
      allow read, write: if true;
    }
    match /blocks/{blockId} {
      allow read, write: if true;
    }
  }
}
